* {
	margin: 0;
	padding: 0;
}

img {
	border: none;
	vertical-align: middle;
}

#page {
	margin: 0px auto;
	width: 100%;
	background-color: #f2f2f2;
}
#top {
	width: 100%;
	height: 30px;
	background-color: #0066cc;
}

#top a {
	text-decoration: none;
}
.tleft ul{
	float:left;
	padding-top: 7px;
}

.tleft ul li{
	display: inline;
	border-right: dotted 1px #4fa7f1;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
	font-style: normal;
}
.tleft ul li.third{
	border-right: none;
}
.tleft ul li a{
	color:#5eb1fa ;
}

.tleft ul li a:hover{
	color: red;
}
.tright ul {
	float: right;
	margin-top: 5px;
}
.tright ul li{
	display: inline;
	border-right: dotted 1px #4fa7f1;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
	font-style: normal;
	color: #5eb1fa ;
}
.tright ul li.second {
	border-right: none;
}

.tright ul li.third {
	border-right: none;
}

.tright ul li img{
	margin-right: 4px;
}
/* "menu" */

#menu {
	clear: both;
	background: #ffffff;
	width: 100%;
	height: 98px;
}
#menu a {
	text-decoration: none;
}

.mleft img{
	float: left;
	padding-top:20px;

}
.mright ul{
float: right;
	padding-top:45px;

}
.mright ul li {
	list-style-type: none;
	display: inline;
	padding: 0 10px;
	font-size: 17px;
	font-style: normal;

}
.mright ul li a{
	color: #272727;
}

.mright ul li a:hover{
	color: #0000FF;
}
#menu li{
	position: relative;
}
#menu li:hover .sub-menu{
	display: block;
}
#baner{
	clear: both;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	background-color: #4fa7f1;
	background-size: 100%;
}

.bleft{
	float: left;
	margin-top: 25px;
}
.bleft h1{
	color: antiquewhite;
}
.bright li{
	display: inline;
	float: right;
	margin-top: 35px;
}
.bright p{
	color: white;
}
/*Begin Main*/
.main {
	margin: auto;
	width: 1000px;
	overflow: auto;
}
#content {
	float: left;
	width: 65%;
	background: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;
	padding-bottom: 60px;
}

.titlepost {
	color: #0f75bc;
	font-size: 25px;
}
.oleft{
	float: left;
	color: #888888;
}
.oleft ul{
	margin-top: 25px;
	margin-bottom: 20px;
}
.oleft ul li{
	display: inline;
}
.oright{
	float: right;
}
.oright ul{
	margin-top: 25px;
	margin-bottom: 20px;
}
.oright ul li{
	display: inline;
}
.post{
	clear:both;
}
.post ul{
	margin-top:20px;
	margin-bottom: 40px;
}

.post ul li{
	list-style-type: square;
	padding-bottom:5px;
}
.post a{
	text-decoration: none;
	color: #888888;
}

.content {
	margin-top:40px;
}
.content p{
	margin-top: 40px;
}
.author {
	text-align: right;
	color: #cdcdcd;
	border-bottom: dotted 1px #d7d7d7;
	padding-bottom: 30px;
	margin-top: 50px;
	margin-bottom: 20px;
}
.share a{
	padding-right: 10px;
}
.share p img{
	padding-right: 5px;
}
.share li{
	display: inline;
}
#listpost {
	float: right;
	width: 25%;
	background: #ffffff;
	padding-right: 20px;
	padding-top: 25px;
	padding-bottom: 0px;

}
.title {
	font-size: 20px;
}

#listpost img{
	float:left;
}
#listpost .listdetail{
	float:right;
	width: 90%;
}
.listdetail a{
	text-decoration: none;
	color: #272727;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}
.time{
	font-size: 12px;
	color: #cdcdcd;
}
#footer {
	margin-top: 160px;*/
}
#footer1 {
	background-color: #ffffff;
	height: 150px;
}
#footer1 li{
	display: inline;

}
#footer1 img{
	padding-right: 30px;
	padding-top: 30px;
	padding-left: 35px;
}

#footer2{
	background-color: #0f75bc;
	height: 200px;
}
.fleft {
	float: left;
	margin-left: 10px;
	margin-top: 30px;
}

.first{
	font-size: 18px;
}
.second{
	font-size: 12px;
}

.information ul li {
	display: inline;
	font-size: 10px;
	color: #5eb1fa;
	border-right: dotted 1px #5eb1fa;
	padding-right: 15px;
	padding-left: 15px;
}
.information ul li .lithird{
	border: none;
}

.contact li{
	display: inline;
	font-size: 10px;
	color: #5eb1fa;
	border-right: dotted 1px #5eb1fa;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 20px;
}
.contact img{
	padding-right: 15px;
}

#footer2 .fright img{
	float:right;
	margin-left: 20px;
}




